<p id="notice"><%= notice %></p>

<p>
  <strong>Q0:</strong>
  <%= @observation.q0 %>
</p>

<p>
  <strong>Q1:</strong>
  <%= @observation.q1 %>
</p>

<p>
  <strong>Q2:</strong>
  <%= @observation.q2 %>
</p>

<p>
  <strong>Q3:</strong>
  <%= @observation.q3 %>
</p>

<p>
  <strong>Q4:</strong>
  <%= @observation.q4 %>
</p>

<p>
  <strong>Q5:</strong>
  <%= @observation.q5 %>
</p>

<p>
  <strong>Q6:</strong>
  <%= @observation.q6 %>
</p>

<p>
  <strong>Q7:</strong>
  <%= @observation.q7 %>
</p>

<p>
  <strong>Q8:</strong>
  <%= @observation.q8 %>
</p>

<p>
  <strong>Q9:</strong>
  <%= @observation.q9 %>
</p>

<p>
  <strong>Q10:</strong>
  <%= @observation.q10 %>
</p>

<p>
  <strong>P:</strong>
  <%= @observation.p %>
</p>

<p>
  <strong>Espece:</strong>
  <%= @observation.espece %>
</p>

<p>
  <strong>Releve:</strong>
  <%= @observation.releve %>
</p>

<%= link_to 'Edit', edit_observation_path(@observation) %> |
<%= link_to 'Back', observations_path %>
