<div class="authform">
  <h3>Modifier votre profil</h3>
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :role => 'form'}) do |f| %>
    <%= devise_error_messages! %>
    <div class="form-group">
      <%= f.label "Nom" %>
      <%= f.text_field :name, :autofocus => true, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Actuellement en attente de confirmation pour: <%= resource.unconfirmed_email %></div>
      <% end %>
    </div>
    <div class="form-group">
      <%= f.label :structure %>
      <%= f.text_field :structure, :autofocus => true, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :fonction %>
      <%= f.text_field :fonction, :autofocus => true, class: 'form-control' %>
    </div>
    <fieldset>
      <p>Laissez ce champ vide si vous ne souhaitez pas changer votre mot de passe</p>
      <div class="form-group">
        <%= f.label "Nouveau mot de passe" %>
        <%= f.password_field :password, :autocomplete => 'off', class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label "Confirmation du mot de passe" %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>
      </div>
    </fieldset>
    <fieldset>
      <p>Vous devez entrer votre mot de passe actuel pour les changements des paramètres de votre profil.</p>
      <div class="form-group">
        <%= f.label "Mot de passe actuel" %>
        <%= f.password_field :current_password, class: 'form-control' %>
      </div>
    </fieldset>
    <%= f.submit 'Mettre à jour', :class => 'button right' %>
  <% end %>
</div>
<div class="authform">
<h3>Supprimer mon compte</h3>
<p>Attention! L'action suivante est irréversible et entraine la suppression de toutes les données associées à votre compte (sites d'observations, relevés, etc.)</p>
<%= button_to "Supprimer mon compte", registration_path(resource_name), :data => { :confirm => "Vous souhaitez supprimer votre compte? Attention cette action est irréversible" }, :method => :delete, :class => 'button right' %>
</div>
