<%= simple_form_for([@site, @releve], :defaults => { :wrapper_html => {:class => 'form-group'}, :input_html => { :class => 'form-control' }, :html => {:multipart => true} }) do |f| %>
  <%= f.error_notification %>
<div class="row">
  <div class="form-inputs">
    <div class="col-md-12">
      <div class="col-md-6">
        <%= f.input :date, as: :string, label: "Date du relevé", placeholder: "Sélectionner une date dans le calendrier", :data => { :behaviour => "datepicker"} %>
      </div>
      <div class="col-md-3">
        <%= f.input :time_start, label: "Heure de début du relevé", :as => :time_picker %>
      </div>
      <div class="col-md-3">
        <%= f.input :time_end, label: "Heure de fin du relevé",  :as => :time_picker %>
      </div>
    </div>
    <div class="col-md-6">
    <h3>Observateurs</h3>
      <%= f.input :name, label: "Nom de l'observateur", :as => :string, placeholder: "Saisir le nom de l'observateur..." %>
      <div class="row">
        <div class="col-md-6"><%= f.input :structure, label: "Structure", placeholder: "Saisir la structure de l'observateur..." %></div>
        <div class="col-md-6"><%= f.input :fonction, label: "Fonction", placeholder: "Saisir sa fonction..." %></div>
      </div>
      <%= f.association :user, as: :hidden %>
      <%= f.association :site, as: :hidden %>
    </div>
  <div class="col-md-6">
    <h3>Informations sur la prairie</h3>
      <%= f.input :hauteur, label: "Hauteur moyenne de la végétation:", collection: ["< 20cm","entre 20 et 50 cm","entre 50cm et 1m","> 1m"] %>
      <%= f.input :milieux, label: "Milieu(x) bordant la prairie:" %>
  </div>
  </div>
</div>
<!-- INFORMATIONS DE GESTIONS -->
<!-- !!! TODO: SELECT2 SCRIPT TO UPDATE... -->
<div class="row">
  <div class="col-md-12">
    <h3>Gestion de la prairie</h3>
    <%= f.input :semis, label: "Semis ou sursemis"%>
  </div>
  <div class="col-md-6">
    <%= f.input :fauche, label: "Fauche", collection: ["pas de fauche","fauche coupée (lame, faux, tondeuse)","fauche broyée (rotofil, gyrobroyage)"] %>
    <%= f.input :fauche_periode, label: "Période des fauches" %>
    <%= f.input :fauche_freq, label: "Fréquence des fauches", collection: ["+2/an","2/an","1/an","-1/an"] %>
    <%= f.input :fauche_export, label: "Exportation des résidus"%>
  </div>
  <div class="col-md-6">
    <%= f.input :paturage, label: "Pâturage" %>
    <%= f.input :paturage_pression, label: "Pression de pâturage (en nombre d'animaux)" %>
    <%= f.input :paturage_duree, label: "Durée annuelle du pâturage (en nombre de mois)" %>
  </div>
  <div class="col-md-12">
    <%= f.input :traitement, label: "Traitement phytosanitaire" %>
    <%= f.input :pression, label: "Pression de gestion non-contrôlée" %>
  </div>
</div>
<!-- END OF INFORMATIONS DE GESTIONS -->



<!-- LIGNEUX -->
<div class="row">
  <h3>Présence de ligneux</h3>
  <div class="taxrefobservations">
    <table class="table table-bordered" id="taxref-table">
      <thead>
        <tr>
          <th>
            <i class="icon-calendar"></i>
            
          </th>
          <th>
            <i class="icon-pencil"></i>
            Q1
          </th>
          <th>
            <i class="icon-cog"></i>
            Q2
          </th>
          <th>
            <i class="icon-cog"></i>
            Q3
          </th>
          <th>
            <i class="icon-cog"></i>
            Q4
          </th>
          <th>
            <i class="icon-cog"></i>
            Q5
          </th>
          <th>
            <i class="icon-cog"></i>
            Q6
          </th>
          <th>
            <i class="icon-cog"></i>
            Q7
          </th>
          <th>
            <i class="icon-cog"></i>
            Q8
          </th>
          <th>
            <i class="icon-cog"></i>
            Q9
          </th>
          <th>
            <i class="icon-cog"></i>
            Q10
          </th>
        </tr>
      </thead>
      <tbody id="wood_events">
        <%= f.simple_fields_for :woods do |w| %>
          <%= render 'wood_fields', :f => w %>
        <% end %>
      </tbody>
    </table>

  </div>

</div>

<!-- /LIGNEUX -->
<!-- PLANTES DU GUIDE -->
<div class="row">
  <h3>Plantes observées</h3>
  <div class="observations">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>
            <i class="icon-calendar"></i>
            Espèce
          </th>
          <th>
            <i class="icon-pencil"></i>
            Q1
          </th>
          <th>
            <i class="icon-cog"></i>
            Q2
          </th>
          <th>
            <i class="icon-cog"></i>
            Q3
          </th>
          <th>
            <i class="icon-cog"></i>
            Q4
          </th>
          <th>
            <i class="icon-cog"></i>
            Q5
          </th>
          <th>
            <i class="icon-cog"></i>
            Q6
          </th>
          <th>
            <i class="icon-cog"></i>
            Q7
          </th>
          <th>
            <i class="icon-cog"></i>
            Q8
          </th>
          <th>
            <i class="icon-cog"></i>
            Q9
          </th>
          <th>
            <i class="icon-cog"></i>
            Q10
          </th>
          <th>
            <i class="icon-cog"></i>
            +
          </th>
          <th>
            <i class="icon-cog"></i>
          </th>
        </tr>
      </thead>
      <tbody id="observation_events">
        <%= f.simple_fields_for :observations do |observation| %>
          <%= render 'observation_fields', :f => observation %>
        <% end %>
        <span>
          <%= link_to_add_association f, :observations, :"data-association-insertion-node" => "tbody#observation_events", :"data-association-insertion-method" => "prepend", :partial => "observation_fields", :class => "btn btn-warning" do %>
            <span class="fa fa-plus-circle"></span> ajouter une observation du guide
          <% end %> 
        </span>
      </tbody>
    </table>
  </div>

</div>
<!-- END OF PLANTES DU GUIDE -->






<hr>
<div class="row">
  <div class="col-md-2">
    <%= link_to  sites_path, :class => "'col-md-12 btn btn-danger btn-lg" do %>
    <span class="fa fa-backward"> </span> ANNULER
    <% end %>
  </div>
  <div class="col-md-10">
    <%= f.submit 'ENREGISTRER LES MODIFICATIONS', class: 'col-md-12 btn btn-success btn-lg' %>
  </div>
</div>
<% end %>

<script>
  $(document).ready(function(){
    $("#releve_date").datepicker({
      language: 'fr',
      startDate: '01-01-2014',
    });
  })

</script>

<script>
  $(document).ready(function() { 
    $("#releve_milieux").select2({
      separator: "|",
      tokenSeparators:["|", " "],
      tags:["Bois","Eau","Pelouse","Prairie","Bâti","Voie ferrée","Route","Chemin (piéton, vélo)","Culture, champs","Friche"],
      placeholder: "Sélectionner une ou plusieurs valeurs et/ou ajouter vos propres termes"
    });
    $("#releve_hauteur").select2({
      placeholder: "Sélectionner une valeur",
      allowClear: true
    });
    $("#releve_gestion_id").select2({
      placeholder: "Sélectionner une valeur",
      allowClear: true
    }); 
    $("[id$=_espece_id]").select2({
      allowClear: true,
      placeholder: 'Sélectionner une plante du guide...',
      width: '500px'
    });
    $("#releve_fauche").select2({
      placeholder: "Sélectionner une valeur",
      allowClear: true
    });
    $("#releve_fauche_periode").select2({
      separator: "|",
      tokenSeparators:["|", " "],
      tags:["précoce(janvier-mai)","estivale(juin-août)","tardive(septembre-décembre)"],
      placeholder: "Sélectionner une ou plusieurs valeurs et/ou ajouter vos propres termes",
      allowClear: true
    });
    $("#releve_fauche_freq").select2({
      placeholder: "Sélectionner une valeur",
      allowClear: true
    });
    $("#releve_paturage").select2({
      separator: "|",
      tokenSeparators:["|", " "],
      tags:["Pas de pâturage","Ovin","Caprin","Bovin","Équidé"],
      placeholder: "Sélectionner une ou plusieurs valeurs et/ou ajouter vos propres termes",
      allowClear: true
    });
    $("#releve_traitement").select2({
      separator: "|",
      tokenSeparators:["|", " "],
      tags:["aucun","insecticides","herbicide","fongicide","anti-mousses","anti-limaces"],
      placeholder: "Sélectionner une ou plusieurs valeurs et/ou ajouter vos propres termes",
      allowClear: true
    });
    $("#releve_pression").select2({
      separator: "|",
      tokenSeparators:["|", " "],
      tags:["cueillette","pâturage et terriers par les lapins et rongeurs","incendie","travaux sur la parcelle"],
      placeholder: "Sélectionner une ou plusieurs valeurs et/ou ajouter vos propres termes",
      allowClear: true
    });
  });
</script>

<script type="text/javascript">
$(document).ready(function() {
  // Will accure at document load
  autocomplete();
  // alert('Document loaded');
  // Will accure at every cocoon insertion
  $('form')
  .on('cocoon:after-insert', function() {
    // alert('Cocoon Insertion');
    autocomplete();
    $("[id$=_espece_id]").select2({
      allowClear: true,
      placeholder: 'Sélectionner une espèce du guide...',
      width: '500px'
    });
  });
});

function autocomplete() {
    // Replace the following values by your ApplicationID and ApiKey.
    var algolia = new AlgoliaSearch('<%= ENV['ALGOLIASEARCH_APPLICATION_ID'] %>', '<%= ENV['ALGOLIASEARCH_SEARCH_ONLY_API_KEY'] %>');
    // replace YourIndexName by the name of the index you want to query.
    var index = algolia.initIndex('Taxref');

    // Mustache templating by Hogan.js (http://mustache.github.io/)
    var template = Hogan.compile('<div class="hit">' +
      '<div class="name">' +
        '<i>{{{ _highlightResult.LB_NOM.value }}}</i> ' +
      '</div>' +
      '<div class="name">' +
        '{{{ _highlightResult.NOM_VERN.value }}} ' +
      '</div>' +
      '{{#matchingAttributes}}' +
        '<div class="attribute"><b>{{ attribute }}</b>: {{{ value }}}</div>' +
      '{{/matchingAttributes}}' +
      '</div>');
    // typeahead.js initialization
      $("[id$=_LB_NOM]").typeahead(null, {
        source: index.ttAdapter({ hitsPerPage: 5 }),
        displayKey: 'LB_NOM',
        templates: {
          suggestion: function(hit) {
            // select matching attributes only
            hit.matchingAttributes = [];
            for (var attribute in hit._highlightResult) {
              if (attribute === 'LB_NOM' || attribute === 'NOM_VERN') {
                // already handled by the template
                continue;
              }
              // all others attributes that are matching should be added in the matchingAttributes array
              // so we can display them in the dropdown menu. Non-matching attributes are skipped.
              if (hit._highlightResult[attribute].matchLevel !== 'none') {
                hit.matchingAttributes.push({ attribute: attribute, value: hit._highlightResult[attribute].value });
              }
            }

            // render the hit using Hogan.js
            return template.render(hit);
          }
        }
      });
}
</script>

