<%= simple_form_for([@site, @releve], :defaults => { :wrapper_html => {:class => 'form-group'}, :input_html => { :class => 'form-control' }, :html => {:multipart => true} }) do |f| %>
  <%= f.error_notification %>
<div class="row">
  <div class="form-inputs">
    <div class="col-md-6">
      <%= f.input :name, label: "Nom de l'observateur", :as => :string, placeholder: "Saisir le nom de l'observateur..." %>
      <div class="row">
        <div class="col-md-6"><%= f.input :structure, label: "Structure", placeholder: "Saisir la structure de l'observateur..." %></div>
        <div class="col-md-6"><%= f.input :fonction, label: "Fonction", placeholder: "Saisir sa fonction..." %></div>
      </div>
      <%= f.association :user, as: :hidden %>
      <%= f.association :site, as: :hidden %>
      <%= f.input :hauteur, label: "Hauteur moyenne de la végétation:", collection: ["< 20cm","entre 20 et 50 cm","entre 50cm et 1m","> 1m"] %>
      <%= f.input :milieux, label: "Milieu(x) bordant la prairie:" %>
    </div>
  <div class="col-md-6">
    <%= f.association :gestion, label: "Associer ce relevé à la fiche gestion en date du:", :label_method => lambda { |gestion| "Fiche-gestion n°#{gestion.id} (#{gestion.gestion_date})" }, :value_method => :id %>
     <%= f.input :date, as: :string, label: "Date du relevé", placeholder: "Sélectionner une date dans le calendrier", :data => { :behaviour => "datepicker"} %>
    <div class="row">
      <div class="col-md-6"><%= f.input :time_start, label: "Heure de début du relevé", :as => :time_picker %></div>
      <div class="col-md-6"><%= f.input :time_end, label: "Heure de fin du relevé",  :as => :time_picker %></div>
    </div>

  </div>
  </div>
</div>
<!-- PLANTES DU GUIDE -->
<div class="row">
  <h3>Plantes du guide</h3>
  <div class="observations">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>
            <i class="icon-calendar"></i>
            Espèce
          </th>
          <th>
            <i class="icon-pencil"></i>
            Q1
          </th>
          <th>
            <i class="icon-cog"></i>
            Q2
          </th>
          <th>
            <i class="icon-cog"></i>
            Q3
          </th>
          <th>
            <i class="icon-cog"></i>
            Q4
          </th>
          <th>
            <i class="icon-cog"></i>
            Q5
          </th>
          <th>
            <i class="icon-cog"></i>
            Q6
          </th>
          <th>
            <i class="icon-cog"></i>
            Q7
          </th>
          <th>
            <i class="icon-cog"></i>
            Q8
          </th>
          <th>
            <i class="icon-cog"></i>
            Q9
          </th>
          <th>
            <i class="icon-cog"></i>
            Q10
          </th>
          <th>
            <i class="icon-cog"></i>
          </th>
        </tr>
      </thead>
      <tbody id="observation_events">
        <%= f.simple_fields_for :observations do |observation| %>
          <%= render 'observation_fields', :f => observation %>
        <% end %>
      </tbody>
    </table>
    <%= link_to_add_association f, :observations, :"data-association-insertion-node" => "tbody#observation_events", :"data-association-insertion-method" => "prepend", :partial => "observation_fields", :class => "btn btn-warning" do %>
      <span class="fa fa-plus-circle"></span> ajouter une observation du guide
    <% end %>
  </div>

</div>
<!-- END OF PLANTES DU GUIDE -->


<!-- AUTRES PLANTES -->
<div class="row">
  <h3>Plantes hors guide</h3>
  <div class="observations">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>
            <i class="icon-calendar"></i>
            Espèce
          </th>
          <th>
            <i class="icon-pencil"></i>
            Q1
          </th>
          <th>
            <i class="icon-cog"></i>
            Q2
          </th>
          <th>
            <i class="icon-cog"></i>
            Q3
          </th>
          <th>
            <i class="icon-cog"></i>
            Q4
          </th>
          <th>
            <i class="icon-cog"></i>
            Q5
          </th>
          <th>
            <i class="icon-cog"></i>
            Q6
          </th>
          <th>
            <i class="icon-cog"></i>
            Q7
          </th>
          <th>
            <i class="icon-cog"></i>
            Q8
          </th>
          <th>
            <i class="icon-cog"></i>
            Q9
          </th>
          <th>
            <i class="icon-cog"></i>
            Q10
          </th>
          <th>
            <i class="icon-cog"></i>
          </th>
        </tr>
      </thead>
      <tbody id="taxrefobservation_events">
        <%= f.simple_fields_for :taxrefobservations do |taxref| %>
          <%= render 'taxrefobservation_fields', :f => taxref %>
        <% end %>
      </tbody>
    </table>
    <%= link_to_add_association f, :taxrefobservations, :"data-association-insertion-node" => "tbody#taxrefobservation_events", :"data-association-insertion-method" => "prepend", :partial => "taxrefobservation_fields", :class => "btn btn-primary" do %>
      <span class="fa fa-plus-circle"></span> ajouter une observation TAXREF
    <% end %>
  </div>

</div>

<!-- LIGNEUX -->


<!-- END OF LIGNEUX -->


<!-- TYPEAHEAD ALGOLIA TEST -->
<hr>
<input class="typeahead" type="text" placeholder="Recherche un plante parmi TaxREF 7...." id="taxref-search" spellcheck="false" />


<hr>
<div class="row">
  <div class="col-md-12">
    <%= f.submit 'ENREGISTRER LES MODIFICATIONS', class: 'col-md-12 btn btn-success btn-lg' %>
  </div>
</div>
<% end %>

<script>
  $(document).ready(function(){
    $("#releve_date").datepicker({
      language: 'fr',
      startDate: '15-05-2014',
      endDate: '15-08-2014'
    });
  })

</script>

<script>
  $(document).ready(function() { 
    $("#releve_milieux").select2({
      tags:["Bois","Eau","Pelouse","Prairie","Bâti","Voie ferrée","Route","Chemin (piéton, vélo)","Culture, champs","Friche"],
      placeholder: "Sélectionner une ou plusieurs valeurs et/ou ajouter vos propres termes"
    });
    $("#releve_hauteur").select2({
      placeholder: "Sélectionner une valeur",
      allowClear: true
    });
    $("#releve_gestion_id").select2({
      placeholder: "Sélectionner une valeur",
      allowClear: true
    }); 
    $("[id$=_espece_id]").select2({
      allowClear: true,
      placeholder: 'Sélectionner une plante du guide...',
      width: '500px'
    });
  });
</script>

<script type="text/javascript">
$(document).ready(function() {
  $('form')
      .on('cocoon:after-insert', function() {
      $("[id$=_espece_id]").select2({
        allowClear: true,
        placeholder: 'Sélectionner une espèce du guide...',
        width: '500px'
    });
  });
});
</script>


<!-- SCRIPT DE RECHERCHE TYPEAHEAD-->
<script type="text/javascript">
  $(document).ready(function() {
    $('form')
      .on('cocoon:after-insert', function() {
    // Replace the following values by your ApplicationID and ApiKey.
    var algolia = new AlgoliaSearch('<%= ENV['ALGOLIASEARCH_APPLICATION_ID'] %>', '<%= ENV['ALGOLIASEARCH_SEARCH_ONLY_API_KEY'] %>');
    // replace YourIndexName by the name of the index you want to query.
    var index = algolia.initIndex('Taxref');

    // Mustache templating by Hogan.js (http://mustache.github.io/)
    var template = Hogan.compile('<div class="hit">' +
      '<div class="name">' +
        '{{{ _highlightResult.LB_NOM.value }}} ' +
      '</div>' +
      '{{#matchingAttributes}}' +
        '<div class="attribute"><b>{{ attribute }}</b>: {{{ value }}}</div>' +
      '{{/matchingAttributes}}' +
      '</div>');

    // typeahead.js initialization
      $("[id$=_LB_NOM]").typeahead(null, {
        source: index.ttAdapter({ hitsPerPage: 5 }),
        displayKey: 'LB_NOM',
        templates: {
          suggestion: function(hit) {
            // select matching attributes only
            hit.matchingAttributes = [];
            for (var attribute in hit._highlightResult) {
              if (attribute === 'LB_NOM') {
                // already handled by the template
                continue;
              }
              // all others attributes that are matching should be added in the matchingAttributes array
              // so we can display them in the dropdown menu. Non-matching attributes are skipped.
              if (hit._highlightResult[attribute].matchLevel !== 'none') {
                hit.matchingAttributes.push({ attribute: attribute, value: hit._highlightResult[attribute].value });
              }
            }

            // render the hit using Hogan.js
            return template.render(hit);
          }
        }
      });
    });
  });
</script>



<!-- SCRIPT DE RECHERCHE SELECT2-->
<script>
// var algoliaNested = new AlgoliaSearch('<%= ENV['ALGOLIASEARCH_APPLICATION_ID'] %>', '<%= ENV['ALGOLIASEARCH_SEARCH_ONLY_API_KEY'] %>');
var indexNested = algoliaNested.initIndex('Taxref');

$(document).ready(function() {
  $('form')
      .on('cocoon:after-insert', function() {
    $("[id$=_LB_NOM]").select2({
        allowClear: true,
        placeholder: 'Rechercher une plante parmi le référentiel TaxREF...',
        width: '500px',
        ajax: {
            // Custom transport to call Algolia's API
            transport: function(params) {
                var q = params.data.query;
                delete params.data.query;
                indexNested.search(q, function(success, content) {
                    if (success) {
                        params.success(content);
                    }
                }, params.data);
            },
            // build Algolia's query parameters
            data: function(term, page) {
                return { query: term, hitsPerPage: 10, page: (page - 1) };
            },
            // return Algolia's results
            results: function(data, page) {
                return { results: data.hits }
            }
        },
        // build result using the highlighted attributes
        formatResult: function(plante) { 
            return "<div class='select2-user-result'>" +
                '<i>'+plante._highlightResult.LB_NOM.value + '</i>'+
                '<br />' +
                ' <small>' + plante._highlightResult.NOM_VERN.value + '</small>' +
                '<br />' +
                'CD_REF: <small>' + plante.CD_REF + '</small>' +
                "</div>"; 
        },
        formatSelection: function(plante) { 
            return plante.LB_NOM; 
        },
        id: function(plante) { return plante.LB_NOM; }
    });
  });
});

</script>

