<tr class="nested-fields">
  <td>
      <%= f.input_field(:taxon_id) %>
  </td>
  <td>
    <%= f.input :q1, as: :boolean, :label => false, inline: true, :wrapper_html => {:class => ''}, :input_html => { :class => 'checkbox'} %>
  </td>
  <td>
    <%= f.input :q2, as: :boolean, :label => false, inline: true, :wrapper_html => {:class => ''}, :input_html => { :class => 'checkbox'} %>
  </td>
  <td>
    <%= f.input :q3, as: :boolean, :label => false, inline: true, :wrapper_html => {:class => ''}, :input_html => { :class => 'checkbox'} %>
  </td>
  <td>
    <%= f.input :q4, as: :boolean, :label => false, inline: true, :wrapper_html => {:class => ''}, :input_html => { :class => 'checkbox'} %>
  </td>
  <td>
    <%= f.input :q5, as: :boolean, :label => false, inline: true, :wrapper_html => {:class => ''}, :input_html => { :class => 'checkbox'} %>
  </td>
  <td>
    <%= f.input :q6, as: :boolean, :label => false, inline: true, :wrapper_html => {:class => ''}, :input_html => { :class => 'checkbox'} %>
  </td>
  <td>
    <%= f.input :q7, as: :boolean, :label => false, inline: true, :wrapper_html => {:class => ''}, :input_html => { :class => 'checkbox'} %>
  </td>
  <td>
    <%= f.input :q8, as: :boolean, :label => false, inline: true, :wrapper_html => {:class => ''}, :input_html => { :class => 'checkbox'} %>
  </td>
  <td>
    <%= f.input :q9, as: :boolean, :label => false, inline: true, :wrapper_html => {:class => ''}, :input_html => { :class => 'checkbox'} %>
  </td>
  <td>
    <%= f.input :q10, as: :boolean, :label => false, inline: true, :wrapper_html => {:class => ''}, :input_html => { :class => 'checkbox'} %>
  </td>
  <td>
    <%= f.input :q0, as: :boolean, :label => false, inline: true, :wrapper_html => {:class => ''}, :input_html => { :class => 'checkbox'} %>
  </td>
  <td>
  <%= link_to_remove_association "supprimer l'observation", f %>
  </td>
</tr>