<tr class="nested-fields">
  <td>
    Nombre de tiges ligneuses présentes
  </td>
  <td>
    <%= f.input :q1, as: :integer, :default => 0, :label => false %>
  </td>
  <td>
    <%= f.input :q2, as: :integer, :default => 0, :label => false %>
  </td>
  <td>
    <%= f.input :q3, as: :integer, :default => 0, :label => false %>
  </td>
  <td>
    <%= f.input :q4, as: :integer, :default => 0, :label => false %>
  </td>
  <td>
    <%= f.input :q5, as: :integer, :default => 0, :label => false %>
  </td>
  <td>
    <%= f.input :q6, as: :integer, :default => 0, :label => false %>
  </td>
  <td>
    <%= f.input :q7, as: :integer, :default => 0, :label => false %>
  </td>
  <td>
    <%= f.input :q8, as: :integer, :default => 0, :label => false %>
  </td>
  <td>
    <%= f.input :q9, as: :integer, :default => 0, :label => false %>
  </td>
  <td>
    <%= f.input :q10, as: :integer, :default => 0, :label => false %>
  </td>
</tr>