<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @relefe.date %>
</p>

<p>
  <strong>Name:</strong>
  <%= @relefe.name %>
</p>

<p>
  <strong>Structure:</strong>
  <%= @relefe.structure %>
</p>

<p>
  <strong>Fonction:</strong>
  <%= @relefe.fonction %>
</p>

<p>
  <strong>Time start:</strong>
  <%= @relefe.time_start %>
</p>

<p>
  <strong>Time end:</strong>
  <%= @relefe.time_end %>
</p>

<p>
  <strong>Hauteur:</strong>
  <%= @relefe.hauteur %>
</p>

<p>
  <strong>Milieux:</strong>
  <%= @relefe.milieux %>
</p>

<p>
  <strong>User:</strong>
  <%= @relefe.user %>
</p>

<p>
  <strong>Site:</strong>
  <%= @relefe.site %>
</p>

<p>
  <strong>Gestion:</strong>
  <%= @relefe.gestion %>
</p>

<%= link_to 'Edit', edit_relefe_path(@relefe) %> |
<%= link_to 'Back', releves_path %>
