<p id="notice"><%= notice %></p>

<p>
  <strong>Q1:</strong>
  <%= @wood.q1 %>
</p>

<p>
  <strong>Q2:</strong>
  <%= @wood.q2 %>
</p>

<p>
  <strong>Q2:</strong>
  <%= @wood.q2 %>
</p>

<p>
  <strong>Q3:</strong>
  <%= @wood.q3 %>
</p>

<p>
  <strong>Q4:</strong>
  <%= @wood.q4 %>
</p>

<p>
  <strong>Q5:</strong>
  <%= @wood.q5 %>
</p>

<p>
  <strong>Q6:</strong>
  <%= @wood.q6 %>
</p>

<p>
  <strong>Q7:</strong>
  <%= @wood.q7 %>
</p>

<p>
  <strong>Q8:</strong>
  <%= @wood.q8 %>
</p>

<p>
  <strong>Q9:</strong>
  <%= @wood.q9 %>
</p>

<p>
  <strong>Q10:</strong>
  <%= @wood.q10 %>
</p>

<p>
  <strong>Total:</strong>
  <%= @wood.total %>
</p>

<p>
  <strong>Releve:</strong>
  <%= @wood.releve %>
</p>

<%= link_to 'Edit', edit_wood_path(@wood) %> |
<%= link_to 'Back', woods_path %>
