<p id="notice"><%= notice %></p>

<p>
  <strong>Q0:</strong>
  <%= @taxrefobservation.q0 %>
</p>

<p>
  <strong>Q1:</strong>
  <%= @taxrefobservation.q1 %>
</p>

<p>
  <strong>Q2:</strong>
  <%= @taxrefobservation.q2 %>
</p>

<p>
  <strong>Q3:</strong>
  <%= @taxrefobservation.q3 %>
</p>

<p>
  <strong>Q4:</strong>
  <%= @taxrefobservation.q4 %>
</p>

<p>
  <strong>Q5:</strong>
  <%= @taxrefobservation.q5 %>
</p>

<p>
  <strong>Q6:</strong>
  <%= @taxrefobservation.q6 %>
</p>

<p>
  <strong>Q7:</strong>
  <%= @taxrefobservation.q7 %>
</p>

<p>
  <strong>Q8:</strong>
  <%= @taxrefobservation.q8 %>
</p>

<p>
  <strong>Q9:</strong>
  <%= @taxrefobservation.q9 %>
</p>

<p>
  <strong>Q10:</strong>
  <%= @taxrefobservation.q10 %>
</p>

<p>
  <strong>P:</strong>
  <%= @taxrefobservation.p %>
</p>

<p>
  <strong>Espece:</strong>
  <%= @taxrefobservation.espece %>
</p>

<p>
  <strong>Releve:</strong>
  <%= @taxrefobservation.releve %>
</p>

<%= link_to 'Edit', edit_taxrefobservation_path(@taxrefobservation) %> |
<%= link_to 'Back', taxrefobservations_path %>
