<div class="row">
  <%= link_to  sites_path, :class => "btn btn-danger" do %>
    <span class="fa fa-backward"> </span> Annuler les modifications
  <% end %>
  <div class="col-md-10">
  <%= simple_form_for([@site, @gestion], :defaults => { :wrapper_html => {:class => 'form-group'}, :input_html => { :class => 'form-control' }, :html => {:multipart => true} }) do |f| %>
    <%= f.error_notification %>
    <div class="form-inputs">
      <div id="general">
        <h3>Questions générales</h3>
        <br>
        <div class="row">
          <div class="col-md-6">
            <%= f.input :gestion_date, as: :string, label: "Date d'écriture de la fiche", placeholder: "Sélectionner une date dans le calendrier", :data => { :behaviour => "datepicker"} %>
            <%= f.input :gen_prop, label: "Propriétaire du site", :data => { :behaviour => "datepicker", :provide => "datepicker"}, placeholder: "Nom de la personne physique ou morale" %>
          </div>
          <div class="col-md-6">
            <%= f.input :gen_gest, label: "Gestionnaire du site", placeholder: "Nom de la personne physique ou morale" %>
            <%= f.input :gen_struct, label: "Structure en charge des travaux", collection: ["Interne","Externe"] %>
          </div>
        </div>
        <%= f.input :gen_surface, label: "Surface en m2 (même approximativement, donner une fourchette)", placeholder: "Saisir un nombre entier (200, 347,...), surface minimum 130 m2", hint: "en m2" %>
        <%= f.input :gen_obj, label: "Objectif(s) recherché(s) pour la prairie", placeholder: "Sélectionner une ou plusieurs valeur parmi la liste et/ou ajouter vos propres valeurs" %>
        <%= f.input :gen_freq, label: "Fréquentation de cette prairie par les usagers", collection: ["Nulle","Faible","Forte"] %>
      </div>
  <hr>
      <div id="historique">
        <h3>Ce que vous savez de l'historique du site</h3>
        <br>
        <%= f.input :hist_occsol, label: "Dernier(s) mode(s) d'occupation du sol avant la prairie", placeholder: "Sélectionner une ou plusieurs valeur parmi la liste et/ou ajouter vos propres valeurs" %>
        <div class="row">
          <div class="col-sm-4" data-original-title="Année au format numérique (ex: 2010) ou plage d'années séparée par un trait d'union (ex: 2010-12 ou 2004-2005)" data-toggle="tooltip" data-placement="right">
            <%= f.input :hist_date, label: "Année de création de la prairie", placeholder: "Année au format numérique" %>
          </div>
          <div class="col-sm-8">
            <%= f.input :hist_cmt, label: "Commentaire sur création de la prairie", placeholder: "Description sommaire si disponible" %>
          </div>
        </div>
        
        <%= f.input :hist_trav, label: "Travaux effectués sur l'emplacement de la prairie", placeholder: "Sélectionner une ou plusieurs valeur parmi la liste et/ou ajouter vos propres valeurs" %>
        <div class="row">
          <div class="col-sm-4" data-original-title="Mois et année au format numérique séparée par trait d'union (ex: 02-2013) ou année simple (ex: 2010) ou plage d'année séparée par trait d'union (ex: 2009-2011)" data-toggle="tooltip" data-placement="right">
            <%= f.input :hist_trav_date, label: "Si apports, date approximative", placeholder: "Mois et année au format numérique" %>
          </div>
          <div class="col-sm-8">
            <%= f.input :hist_trav_cmt, label: "Si apports, commentaire" %>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8">
            <%= f.input :hist_desc, label: "Historique de gestion de la prairie", placeholder: "fauche tardive, rotation sur plusieurs années, anciens traitements phytosanitaires, année de dernier traitement, etc." %>
          </div>
          <div class="col-sm-4" data-original-title="Année au format numérique (ex: 1993) ou plage d'année séparée par trait d'union (ex: 2009-2011)" data-toggle="tooltip" data-placement="left">
            <%= f.input :hist_desc_date, label: "Jusqu'en quelle année:", placeholder: "Année au format numérique" %>
          </div>
        </div>
      </div>
      <div id="itineraire">
        <div><h3>Itinéraire de culture de la prairie</h3></div>
        <div class="row">
          <div class="col-sm-6">
            <%= f.input :it_trav, label: "Travail du sol préalable à la mise en place de la prairie", placeholder: "Sélectionner une ou plusieurs valeur parmi la liste et/ou ajouter vos propres valeurs" %>
            <%= f.input :it_trav_freq, label: "Fréquence du travail du sol", collection: ["Aucun","À la mise en place","Régulier"] %>
            <%= f.input :it_trav_freq_reginfo, label: "Si régulier, à quelle fréquence pour le travail du sol" %>
          </div>
          <div class="col-sm-6">
            <%= f.input :it_amend, label: "Amendement", placeholder: "Sélectionner une ou plusieurs valeur parmi la liste et/ou ajouter vos propres valeurs" %>
            <%= f.input :it_amend_freq, label: "Fréquence de l'amendement", collection: ["Aucun","À la mise en place","Régulier"] %>
            <%= f.input :it_amend_freq_reginfo, label: "Si régulier, à quelle fréquence pour les amendements" %>
          </div>
        </div>
        <div class="row">
          <p>Gestion de la prairie pour cette année, entre le dernier relevé et aujourd'hui</p>
          <div class="col-sm-6">
            <%= f.input :it_gestion_p, label: "Pâturage" %>
          </div>
          <div class="col-sm-6">
            <%= f.input :it_gestion_f, label: "Fauchage" %>
          </div>
        </div>
        <%= f.input :it_pat_nb, label: "Pression de pâturage (nombre de bêtes)", placeholder: "Nombre de bêtes (saisir un nombre entier même approximatif)" %>
        <%= f.input :it_pat_duree, label: "Durée annuelle du pâturage (en semaines) ", placeholder: "En semaines"%>
        </div>
        <div id="calendrier">
        <h3>CALENDRIER DE GESTION</h3>
        <div class="row">
          <div class="col-md-6">
            <h4>Calendrier de gestion pour l'année précédant le relevé</h4>
            <%= f.input :it_f_cal_prev, label: "Fauchage l'année précédant le relevé" %>
            <%= f.input :it_p_cal_prev, label: "Pâturage l'année précédant le relevé" %>
          </div>
          <div class="col-md-6">
            <h4>Calendrier de gestion pour l'année en cours</h4>
            <%= f.input :it_f_cal_current, label: "Fauchage pour l'année du relevé" %>
            <%= f.input :it_p_cal_current, label: "Pâturage pour l'année du relevé" %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <%= f.input :it_f_export, as: :radio_buttons, label: "Exportation des résidus de fauche ?", collection: [["oui",TRUE],["non",FALSE]], :wrapper_html => {:class => ''}, :input_html => { :class => 'radio-inline'} %>
          </div>
          <div class="col-md-2">
            <%= f.input :it_phyto, as: :radio_buttons, label: "Traitement phytosanitaire ?", collection: [["oui",TRUE],["non",FALSE]], :wrapper_html => {:class => ''}, :input_html => { :class => 'radio-inline'} %>
          </div>
          <div class="col-md-6">
            <%= f.input :it_phyto_info, label: "Si oui, préciser les produits utilisés" %>
          </div>          
        </div>
        <%= f.input :it_pression, label: "Pression de gestion non contrôlée" %>
      </div>
      <div id="science-participative">
        <h3>Mise en place de suivis</h3>
        <div class="row">
          <div class="col-md-6">
            <%= f.input :scp_info, as: :radio_buttons, label: "Avez-vous mise en place d'autres protocoles de suivis de la biodiversité?", collection: [["oui",TRUE],["non",FALSE]], :wrapper_html => {:class => ''}, :input_html => { :class => 'radio-inline'}   %>
          </div>
          <div class="col-md-6">
            <%= f.input :scp_desc, label: "Si oui, lesquels...", placeholder: "(suivis Vigie Nature, etc.)" %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-2">
    <div class="affix">
      <div class="the-box-landing border-orange-topbottom" id="navbar">
        <div style="text-align:center">
          <%= f.submit 'ENREGISTRER', class: 'col-md-9 btn btn-success btn-sm' %>
        </div>
        <br>
        <!-- NAV MENU -->
        <ul class="nav scroll-nav">
          <li class="active"><a href="#general"><span>1. Questions générales</span></a></li>
          <li><a href="#historique"><span>2. Historique du site</span></a></li>
          <li><a href="#itineraire"><span>3. Itinéraire de gestion</span></a></li>
          <li><a href="#calendrier"><span>4. Calendrier et autres suivis</span></a></li>
        </ul>
        <br>
        <!-- END NAV MENU -->
      </div>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-3">
  <%= link_to  sites_path, :class => "col-md-12 btn btn-danger btn-lg" do %>
    <span class="fa fa-backward"> </span> Annuler les modifications
  <% end %>
  </div>
  <div class="col-md-9">
    <%= f.submit 'ENREGISTRER LES MODIFICATIONS', class: 'col-md-9 btn btn-success btn-lg' %>
  </div>
</div>

<% end %>
</div>

<script>
  $(document).ready(function(){
    $("#gestion_gestion_date").datepicker({
      language: 'fr',
      startDate: 'd'
    });
  })
</script>
<script>
    $(document).ready(function() { 
      $("#gestion_gen_obj").select2({
        tags:["Esthétique", "Biodiversité", "Réduction des coûts d'entretien", "Récréatif"]
      });
      $("#gestion_gen_freq").select2({
        placeholder: "Sélectionner une valeur"
      });
      $("#gestion_gen_struct").select2({
        placeholder: "Sélectionner une valeur"
      });
      $("#gestion_hist_occsol").select2({
        tags:["Bâti","Cultures","Industrie","Décharge","Boisement","Friche","Carrière"]
      });
      $("#gestion_hist_trav").select2({
        tags:["Aucun travaux","Apport de remblais","Apport de terre végétale"]
      });
      $("#gestion_it_trav").select2({
        tags:["Aucun","Labour","Hersage","Étrépage"]
      });
      $("#gestion_it_trav_freq").select2({
        placeholder: "Sélectionner une valeur"
      });  
      $("#gestion_it_amend").select2({
        tags:["Aucun","Fumier","Compost","Engrais organique","Engrais chimique"]
      });
      $("#gestion_it_amend_freq").select2({
        placeholder: "Sélectionner une valeur"
      });
      $("#gestion_it_gestion_p").select2({
        placeholder: "Sélectionner une valeur",
        tags: ["Ovin","Caprin","Bovin","Équidé"]
      });
      $("#gestion_it_gestion_f").select2({
        placeholder: "Sélectionner une valeur",
        tags: ["Rotofil","Lame","Tondeuse","Faux","Gyrobroyage","Fauche hippotractée"]
      });
      $("#gestion_it_f_cal_prev").select2({
        tags:["Juin","Juillet","Août","Septembre","Octobre","Novembre","Décembre"],
        placeholder: "Sélectionner une ou plusieurs valeur parmi la liste et/ou ajouter vos propres valeurs"
      });
      $("#gestion_it_p_cal_prev").select2({
        tags:["Juin","Juillet","Août","Septembre","Octobre","Novembre","Décembre"],
        placeholder: "Sélectionner une ou plusieurs valeur parmi la liste et/ou ajouter vos propres valeurs"
      });
      $("#gestion_it_f_cal_current").select2({
        tags:["Janvier","Février","Mars","Avril","Mai","Juin"],
        placeholder: "Sélectionner une ou plusieurs valeur parmi la liste et/ou ajouter vos propres valeurs"
      });
      $("#gestion_it_p_cal_current").select2({
        tags:["Janvier","Février","Mars","Avril","Mai","Juin"],
        placeholder: "Sélectionner une ou plusieurs valeur parmi la liste et/ou ajouter vos propres valeurs"
      });
      $("#gestion_it_phyto_info").select2({
        tags:["Insecticides","Herbicides","Fongicides","Anti-mousse","Anti-limace"],
        placeholder: "Sélectionner une ou plusieurs valeur parmi la liste et/ou ajouter vos propres valeurs"
      });
      $("#gestion_it_pression").select2({
        tags:["Cueillette","Pâturage et terriers par lapins et rongeurs","Incendies","Travaux sur parcelle"],
        placeholder: "Sélectionner une ou plusieurs valeur parmi la liste et/ou ajouter vos propres valeurs"
      });
      $('div').tooltip();  
    });
</script>
<script>
    // Initialize wizard
    var wizard = $("#wizard").steps();
     
    // Add step
    wizard.steps("add", {
    title: "Date",
    content: "<h3>Date</h3>"
    }
    {
    title: "Questions générales",
    content: "<h3>Questions générales</h3>"
    });

</script>

<script>
// strict just to keep concept of bootstrap
+function ($) {
  'use strict';


// spy and scroll menu boogey
$("#navbar ul li a[href^='#']").on('click', function(e) {

   // prevent default anchor click behavior
   e.preventDefault()

   // store hash
   var hash = this.hash

   // animate
   $('html, body').animate({
       scrollTop: $(this.hash).offset().top -50
     }, 1000, function(){
       window.location.hash = hash -50
     })

})

}(jQuery);
</script>