<%= simple_form_for(@gestion, wrapper: :vertical_input_group,
        wrapper_mappings: {
          check_boxes: :horizontal_radio_and_checkboxes,
          radio_buttons: :horizontal_radio_and_checkboxes,
          file: :horizontal_file_input,
          boolean: :horizontal_boolean
        }) do |f| %>
  <%= f.error_notification %>
  <hr>
  <h3>Date</h3>
  <%= f.input :gestion_date,  wrapper: :vertical_input_group, :label => false  do %>
    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
    <%= f.input_field :gestion_date, :as => :string, class: "form-control", placeholder: "Sélectionner une date avec le calendrier", :data => { :behaviour => "datepicker"} %>
  <% end %>
<% end %>
<%= simple_form_for(@gestion, :defaults => { :wrapper_html => {:class => 'form-group'}, :input_html => { :class => 'form-control' }, :html => {:multipart => true} }) do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs">
    <div id="general">
      <br>
      <h3>Questions générales</h3>
      <%= f.input :gen_prop, label: "Propriétaire du site", placeholder: "Nom de la personne physique ou morale" %>
      <%= f.input :gen_gest, label: "Gestionnaire du site", placeholder: "Nom de la personne physique ou morale" %>
      <%= f.input :gen_struct, label: "Structure en charge des travaux" %>
      <%= f.input :gen_surface, label: "Surface (même approximativement, donner une fourchette)", placeholder: "Saisir un nombre entier (200, 347,...), surface minimum 130 m2", hint: "en m2" %>
      <%= f.input :gen_obj, as: :check_boxes, :input_html => {:class => 'none'}, :item_wrapper_class => 'checkbox-inline', label: "Objectif recherché pour la prairie", collection: [ "Esthétique", "Biodiversité", "Réduction des coûts d'entretien", "Récréatif"] %>
      <%= f.input :gen_freq, label: "Fréquentation de cette prairie par les usagers" %>
    </div>
    <div id="general">
      <h3>Historiqe du site</h3>
      <%= f.input :hist_occsol %>
      <%= f.input :hist_date %>
      <%= f.input :hist_trav %>
      <%= f.input :hist_trav_info %>
      <%= f.input :hist_desc %>
      <%= f.input :hist_desc_date %>
    </div>
    <div id="itineraire">
      <h3>Intinéraire de gestion</h3>
      <%= f.input :hist_occsol %>
      <%= f.input :hist_date %>
      <%= f.input :hist_trav %>
      <%= f.input :hist_trav_info %>
      <%= f.input :hist_desc %>
      <%= f.input :hist_desc_date %>
      <%= f.input :it_trav %>
      <%= f.input :it_trav_freq %>
      <%= f.input :it_trav_freq_reginfo %>
      <%= f.input :it_amend %>
      <%= f.input :it_amend_freq %>
      <%= f.input :it_amend_freq_reginfo %>
      <%= f.input :it_gestion %>
      <%= f.input :it_pat_nb %>
      <%= f.input :it_pat_duree %>
      <%= f.input :it_f_cal_prev %>
      <%= f.input :it_f_cal_current %>
      <%= f.input :it_p_cal_prev %>
      <%= f.input :it_p_cal_current %>
      <%= f.input :it_f_export %>
      <%= f.input :it_phyto %>
      <%= f.input :it_phyto_info %>
      <%= f.input :it_pression %>
    </div>

    <%= f.input :scp_info %>
    <%= f.input :scp_desc %>
    <%= f.association :site %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>

<script type="text/javascript">
  $(document).ready(function(){
    $('[data-behaviour~=datepicker]').datepicker({
      language: 'fr',
      startDate: 'd'
    });
  })
</script>
