<p id="notice"><%= notice %></p>

<p>
  <strong>Gestion date:</strong>
  <%= @gestion.gestion_date %>
</p>

<p>
  <strong>Gen prop:</strong>
  <%= @gestion.gen_prop %>
</p>

<p>
  <strong>Gen gest:</strong>
  <%= @gestion.gen_gest %>
</p>

<p>
  <strong>Gen struct:</strong>
  <%= @gestion.gen_struct %>
</p>

<p>
  <strong>Gen surface:</strong>
  <%= @gestion.gen_surface %>
</p>

<p>
  <strong>Gen obj:</strong>
  <%= @gestion.gen_obj %>
</p>

<p>
  <strong>Gen freq:</strong>
  <%= @gestion.gen_freq %>
</p>

<p>
  <strong>Hist occsol:</strong>
  <%= @gestion.hist_occsol %>
</p>

<p>
  <strong>Hist date:</strong>
  <%= @gestion.hist_date %>
</p>

<p>
  <strong>Hist trav:</strong>
  <%= @gestion.hist_trav %>
</p>

<p>
  <strong>Hist trav info:</strong>
  <%= @gestion.hist_trav_info %>
</p>

<p>
  <strong>Hist desc:</strong>
  <%= @gestion.hist_desc %>
</p>

<p>
  <strong>Hist desc date:</strong>
  <%= @gestion.hist_desc_date %>
</p>

<p>
  <strong>It trav:</strong>
  <%= @gestion.it_trav %>
</p>

<p>
  <strong>It trav freq:</strong>
  <%= @gestion.it_trav_freq %>
</p>

<p>
  <strong>It trav freq reginfo:</strong>
  <%= @gestion.it_trav_freq_reginfo %>
</p>

<p>
  <strong>It amend:</strong>
  <%= @gestion.it_amend %>
</p>

<p>
  <strong>It amend freq:</strong>
  <%= @gestion.it_amend_freq %>
</p>

<p>
  <strong>It amend freq reginfo:</strong>
  <%= @gestion.it_amend_freq_reginfo %>
</p>

<p>
  <strong>It gestion:</strong>
  <%= @gestion.it_gestion %>
</p>

<p>
  <strong>It pat nb:</strong>
  <%= @gestion.it_pat_nb %>
</p>

<p>
  <strong>It pat duree:</strong>
  <%= @gestion.it_pat_duree %>
</p>

<p>
  <strong>It f cal prev:</strong>
  <%= @gestion.it_f_cal_prev %>
</p>

<p>
  <strong>It f cal current:</strong>
  <%= @gestion.it_f_cal_current %>
</p>

<p>
  <strong>It p cal prev:</strong>
  <%= @gestion.it_p_cal_prev %>
</p>

<p>
  <strong>It p cal current:</strong>
  <%= @gestion.it_p_cal_current %>
</p>

<p>
  <strong>It f export:</strong>
  <%= @gestion.it_f_export %>
</p>

<p>
  <strong>It phyto:</strong>
  <%= @gestion.it_phyto %>
</p>

<p>
  <strong>It phyto info:</strong>
  <%= @gestion.it_phyto_info %>
</p>

<p>
  <strong>It pression:</strong>
  <%= @gestion.it_pression %>
</p>

<p>
  <strong>Scp info:</strong>
  <%= @gestion.scp_info %>
</p>

<p>
  <strong>Scp desc:</strong>
  <%= @gestion.scp_desc %>
</p>

<p>
  <strong>Site:</strong>
  <%= @gestion.site %>
</p>

<%= link_to 'Edit', edit_gestion_path(@gestion) %> |
<%= link_to 'Back', gestions_path %>
