<div class="col-sm-9">
  <ul class="nav nav-pills nav-justified" id="pillSites">
    <li class="filter active"><a href="#liste" data-toggle="pill"><h4 class="glyphicon glyphicon-th-list"></h4></a></li>
    <li class="filter"><a href="#carte" data-toggle="pill"><h4 class="glyphicon glyphicon-globe"></h4></a></li>
  </ul>
  <div class="tab-content">
          <div class="tab-pane active" id="liste">
            <br>
            <% for site in @sites %>
            <div class="the-box-landing border-color-left">
              <div class="row">
                <div class="col-sm-2">
                  <%= image_tag site.photo_url(:thumb).to_s, class: 'img-responsive img-circle'  %>
                </div>
                <div class="col-sm-6">
                  <h3><%= link_to site.name, site  %></h3>
                  <p><i><%= site.location %></i></p>
                  <span class="hint"><b>Code de suivi: </b><%= site.code %> | <b>Créé par: </b><i> <%= site.users.first.name %></i></span><hr>
                    <%= link_to  edit_site_path(site), class:'btn btn-info btn-xs' do %>
                      <i class="glyphicon glyphicon-pencil"></i> Modifier
                    <% end %>
                  
                   <%= link_to site, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-danger btn-xs' do %>
                       <i class="glyphicon glyphicon-remove-sign"></i> Supprimer
                    <% end %>
                </div>
                <div class="col-sm-4">

                  <div class="btn btn-success btn-sm" data-toggle="modal" data-target="#mesGestions<%=site.id%>">
                    <i class="fa fa-list"></i>Fiche-gestion
                  </div>
                  <div class="btn btn-primary btn-sm" data-toggle="modal" data-target="#mesReleves<%=site.id%>">
                      <i class="glyphicon glyphicon-pencil"></i> Fiche-relevés
                  </div>
                  <hr>
                  <div class="btn btn-warning btn-sm">
                    <i class="fa fa-users"></i> Co-observateur
                  </div>
                  <!-- Modal GESTION-->
                  <div class="modal fade" id="mesGestions<%=site.id%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                          <h4 class="modal-title" id="maDescriptionLabel">Modifier les fiches-gestions de <b><%= site.name %></b> <i> (<%= site.parc %>) </i></h4>
                        </div>
                        <div class="modal-body">
                          <% site.gestions.each do |g| %>
                          <div class="fields">
                            <h4>Fiche-gestion de l'année <%= g.gestion_date %> | <%= link_to "Modifier la fiche", edit_site_gestion_path(site,g) %> </h4> 

                          </div>
                          <br>
                          <% end %>
                          <div class="action">
                            <% unless site.gestions.empty? %>
                              <%= link_to "Créer une nouvelle fiche de gestion", new_site_gestion_path(site), class:'btn btn-success btn-lg center-block' %>
                            <% else %>
                              <%= link_to "Créer votre première fiche de gestion pour cette prairie", new_site_gestion_path(site), class:'btn btn-success btn-lg center-block'%>
                            <% end %>
                          </div>
                          

                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- End of Modal GESTION-->
                  <!-- Modal RELEVÉS-->
                  <div class="modal fade" id="mesReleves<%=site.id%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                          <h4 class="modal-title" id="maDescriptionLabel">Modifier les fiches-relevés de <b><%= site.name %></b> </h4>
                        </div>
                        <div class="modal-body">
                          <% site.releves.each do |g| %>
                          <div class="fields">
                            <h4>Fiche-relevés en date du <%= g.gestion_date %> | <%= link_to "Modifier la fiche", edit_site_releve_path(site,g) %> </h4> 

                          </div>
                          <br>
                          <% end %>
                          <div class="action">
                            <% unless site.releves.empty? %>
                              <%= link_to "Créer une nouvelle fiche de relevés", new_site_releve_path(site), class:'btn btn-primary btn-lg center-block' %>
                            <% else %>
                              <%= link_to "Créer votre première fiche de relevés pour cette prairie", new_site_releve_path(site), class:'btn btn-primary btn-lg center-block'%>
                            <% end %>
                          </div>
                          

                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- End of Modal RELEVÉS-->
                </div>
              </div>
            </div>

              <% end %>
          </div>
          <div class="tab-pane" id="carte">
            <br>
            <div style="width: auto">
              <div id="map" style="width: auto; height: 400px"></div>
            </div>
          </div>
  </div><!-- tab content -->
</div>
<div class="col-sm-3">
  <div class="the-box-landing border-orange-topbottom">
    <h3>AJOUTER UN SITE</h3>
    <div class="hi-icon-wrap hi-icon-effect-1 hi-icon-effect-1b">
      <%= link_to 'Nouvelle prairie', new_site_path , class: 'hi-icon hi-icon-location' %>
    </div>
  </div>

  <div class="the-box-landing border-orange-topbottom">
    <h3>FILTER LA LISTE</h3>

  </div>
  
</div>