<p id="notice"><%= notice %></p>

<!-- FOCUS -->
<div class="row">
  <div class="col-md-5">
    <div class="site-focus">
      <figure class="effect-dexter">
        <%= image_tag @site.photo_url.to_s %>
        <figcaption>
          <h2><%= @site.code %></h2>
          <p><strong>Adresse: </strong><%= @site.location %> <br>
            <strong>Coord GPS: </strong><%= @site.longitude %>,<%= @site.latitude %>
          </p>
          <%= link_to "edit", edit_site_path(@site) %>
        </figcaption>
      </figure>
    </div>
  </div>
  <!-- MAPS AND SKETCH -->
  <div class="col-md-7">
    <ul class="nav nav-pills nav-justified" id="pillSites">
      <li class="filter active"><a href="#carte" data-toggle="pill"><h4 class="glyphicon glyphicon-globe"></h4></a></li>
      <li class="filter"><a href="#sketch" data-toggle="pill"><h4 class="glyphicon glyphicon-picture"></h4></a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="carte">
        <br>
        <div id="map" style='width: 300px; height: 315px;'></div>
      </div> 
      <div class="tab-pane" id="sketch">
        <br>
        <% if @site.plan? %>
          <div class="frame-block">
          <div style='width: auto; height: 315px;'> <%= image_tag @site.plan_url(:medium).to_s %> </div>
          </div>
        <% else %>
          Pas d'image
        <% end %>
      </div>
    </div>  

  </div>
  <!-- END OF MAPS AND SKETCH -->
</div>
<br>
<!-- FICHES -->
<div class="row">
  <div class="col-md-6">
    <div class="the-box-landing border-color-left">
      <h3>RÉSUMÉ DU SITE</h3>
    </div>
    <div class="list-block">
      <div style="text-align: center; margin: 10px 10px 10px 20px;">
        <button type="button" class="btn btn-default btn-lg" disabled="disabled">En cours de réalisation...</button>
      </div>
    </div>  
  </div>

  <div class="col-md-6">
    <div class="the-box-landing border-color-left">
      <h3>FICHES DE RELEVÉS ET DE GESTION</h3>
    </div>
    <div class="list-block">
      <ul>
      <% @site.releves.each do |r| %>
        <li>
          <%= link_to edit_site_releve_path(@site,r) do %>
          Fiche-relevés du <%= r.date %>
          <% end %> | 
          <%= link_to site_releve_path(@site,r), :data => { :confirm => "Attention cette action est irréversible! Confirmez-vous la suppresion de la fiche?" }, :method => :delete, class:'btn btn-danger btn-xs' do %>
           <i class="glyphicon glyphicon-remove-sign"></i> Supprimer
          <% end %>  
        </li> 
      <% end %>
      </ul>
      <br>
      
      <div class="action">
        <% unless @site.releves.empty? %>
          <%= link_to "Créer une nouvelle fiche de gestion", new_site_releve_path(@site), class:'btn btn-primary center-block' %>
        <% else %>
          <%= link_to "Créer votre première fiche de relevés", new_site_releve_path(@site), class:'btn btn-primary center-block'%>
        <% end %>
      </div>
    </div> 
  </div>
</div>
<br>
<%= link_to sites_path, class:'btn btn-primary' do %>
  <i class="glyphicon glyphicon-chevron-left"></i> Retour à la liste des sites
<% end %> 
 | 
<%= link_to edit_site_path(@site), class:'btn btn-warning' do %>
  <i class="glyphicon glyphicon-pencil"></i> Modifier
<% end %>


    <script>

      function initMap() {
        var myLatLng = {lat: -25.363, lng: 131.044};

        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 4,
          center: myLatLng
        });

        var marker = new google.maps.Marker({
          position: myLatLng,
          map: map,
          title: 'Hello World!'
        });
      }
    </script>
<script type="text/javascript">
  $('.navmenu').offcanvas()
</script>
