<%= simple_form_for(@espece) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :taxref %>
    <%= f.input :bdtfx %>
    <%= f.input :famille %>
    <%= f.input :nom_sci %>
    <%= f.input :auteur %>
    <%= f.input :annee %>
    <%= f.input :nom_sci_complet %>
    <%= f.input :nom_vern %>
    <%= f.input :avatar %>
    <%= f.input :reconnaissance %>
    <%= f.input :confusion %>
    <%= f.input :habitat_desc %>
    <%= f.input :faune %>
    <%= f.input :flo_s %>
    <%= f.input :flo_i %>
    <%= f.input :indic_pel %>
    <%= f.input :indic_pra %>
    <%= f.input :indic_fri %>
    <%= f.input :tol_fau %>
    <%= f.input :tol_pat %>
    <%= f.input :tol_pie %>
    <%= f.input :off_nec %>
    <%= f.input :off_pol %>
    <%= f.input :pollen %>
    <%= f.input :hauteur %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
