<p id="notice"><%= notice %></p>

<p>
  <strong>Taxref:</strong>
  <%= @espece.taxref %>
</p>

<p>
  <strong>Bdtfx:</strong>
  <%= @espece.bdtfx %>
</p>

<p>
  <strong>Famille:</strong>
  <%= @espece.famille %>
</p>

<p>
  <strong>Nom sci:</strong>
  <%= @espece.nom_sci %>
</p>

<p>
  <strong>Auteur:</strong>
  <%= @espece.auteur %>
</p>

<p>
  <strong>Annee:</strong>
  <%= @espece.annee %>
</p>

<p>
  <strong>Nom sci complet:</strong>
  <%= @espece.nom_sci_complet %>
</p>

<p>
  <strong>Nom vern:</strong>
  <%= @espece.nom_vern %>
</p>

<p>
  <strong>Avatar:</strong>
  <%= @espece.avatar %>
</p>

<p>
  <strong>Reconnaissance:</strong>
  <%= @espece.reconnaissance %>
</p>

<p>
  <strong>Confusion:</strong>
  <%= @espece.confusion %>
</p>

<p>
  <strong>Habitat desc:</strong>
  <%= @espece.habitat_desc %>
</p>

<p>
  <strong>Faune:</strong>
  <%= @espece.faune %>
</p>

<p>
  <strong>Flo s:</strong>
  <%= @espece.flo_s %>
</p>

<p>
  <strong>Flo i:</strong>
  <%= @espece.flo_i %>
</p>

<p>
  <strong>Indic pel:</strong>
  <%= @espece.indic_pel %>
</p>

<p>
  <strong>Indic pra:</strong>
  <%= @espece.indic_pra %>
</p>

<p>
  <strong>Indic fri:</strong>
  <%= @espece.indic_fri %>
</p>

<p>
  <strong>Tol fau:</strong>
  <%= @espece.tol_fau %>
</p>

<p>
  <strong>Tol pat:</strong>
  <%= @espece.tol_pat %>
</p>

<p>
  <strong>Tol pie:</strong>
  <%= @espece.tol_pie %>
</p>

<p>
  <strong>Off nec:</strong>
  <%= @espece.off_nec %>
</p>

<p>
  <strong>Off pol:</strong>
  <%= @espece.off_pol %>
</p>

<p>
  <strong>Pollen:</strong>
  <%= @espece.pollen %>
</p>

<p>
  <strong>Hauteur:</strong>
  <%= @espece.hauteur %>
</p>

<%= link_to 'Edit', edit_espece_path(@espece) %> |
<%= link_to 'Back', especes_path %>
