<%# add navigation links to this file %>
<% unless user_signed_in? %>
  <li><%= link_to 'Connexion', new_user_session_path %></li>
  <li><%= link_to 'Inscription', new_user_registration_path %></li>
<% end %>
<% if user_signed_in? %>
	<% if current_user.has_role? :admin %>
	  <li><%= link_to 'Liste des espèces', especes_path %></li>
	  <li><%= link_to 'Liste des utilisateurs', users_path %></li>
	  <li><%= link_to 'Recherche TaxREF', '/recherche-taxref' %></li>
	<% end %>
<% end %>
