<nav class="flex fixed w-full items-center justify-between flex-wrap bg-orange-500 p-6 top-0 animated">
  <div class="flex items-center flex-shrink-0 text-white mr-6">
    <svg class="fill-current h-8 w-8 mr-2" width="54" height="54" viewBox="0 0 54 54" xmlns="http://www.w3.org/2000/svg"><path d="M13.5 22.1c1.8-7.2 6.3-10.8 13.5-10.8 10.8 0 12.15 8.1 17.55 9.45 3.6.9 6.75-.45 9.45-4.05-1.8 7.2-6.3 10.8-13.5 10.8-10.8 0-12.15-8.1-17.55-9.45-3.6-.9-6.75.45-9.45 4.05zM0 38.3c1.8-7.2 6.3-10.8 13.5-10.8 10.8 0 12.15 8.1 17.55 9.45 3.6.9 6.75-.45 9.45-4.05-1.8 7.2-6.3 10.8-13.5 10.8-10.8 0-12.15-8.1-17.55-9.45-3.6-.9-6.75.45-9.45 4.05z"/></svg>
    <span class="font-semibold text-xl tracking-tight">Florilèges</span>
  </div>
  <div class="block lg:hidden">
    <button class="flex items-center px-3 py-2 border rounded text-orange-200 border-orange-400 hover:text-white hover:border-white">
      <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
    </button>
  </div>
  <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
    <div class="text-sm lg:flex-grow">
      <a href="#responsive-header" class="block mt-4 lg:inline-block lg:mt-0 text-orange-200 hover:text-white mr-4">
        Docs
      </a>
      <a href="#responsive-header" class="block mt-4 lg:inline-block lg:mt-0 text-orange-200 hover:text-white mr-4">
        Examples
      </a>
      <a href="#responsive-header" class="block mt-4 lg:inline-block lg:mt-0 text-orange-200 hover:text-white">
        Blog
      </a>
      <% unless user_signed_in? %>
        <%= link_to 'Connexion', new_user_session_path %>
        <%= link_to 'Inscription', new_user_registration_path %>
      <% end %>
      <% if user_signed_in? %>
        <% if current_user.has_role? :admin %>
          <%= link_to 'Liste des utilisateurs', users_path %>
        <% end %>
      <% end %>
    </div>
    <div class="flex flex-wrap">
      <div class="w-full px-4">
        <div class="relative inline-flex align-middle w-full">
          <% if user_signed_in? %>
            <button class="text-white font-bold uppercase text-sm px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 bg-orange-800" style="transition:all .15s ease" type="button" onclick="openDropdown(event,'dropdown-id')">
              Session de <%= current_user.name %> <i class="fa fa-chevron-down"></i>
            </button>
            <div class="hidden bg-white  text-base z-50 float-left py-2 list-none text-left rounded shadow-lg mt-1" style="min-width:12rem" id="dropdown-id">
              <%= link_to sites_path, class: "text-sm py-2 px-4 font-normal block w-full whitespace-no-wrap bg-transparent text-gray-800" do %>
                Consulter mes prairies <span class="badge"><%= current_user.sites.count %> </span>
              <% end %>
              <%= link_to edit_user_registration_path, class: "text-sm py-2 px-4 font-normal block w-full whitespace-no-wrap bg-transparent text-gray-800" do %>
                <i class="fas fa-cog mr-3"></i>Modifier mon compte 
              <% end %>
              <% if current_user.has_role? :admin %>
                <div class="h-0 my-2 border border-solid border-t-0 border-gray-900 opacity-25"></div>
                <a href="#admin" class="text-sm py-2 px-4 font-normal block w-full whitespace-no-wrap bg-transparent text-orange-700 font-bold">
                  Espace administrateur
                </a>
              <% end %>
              <div class="h-0 my-2 border border-solid border-t-0 border-gray-900 opacity-25"></div>
              <%= link_to destroy_user_session_path, method: "delete",  class: "text-sm py-2 px-4 font-normal block w-full whitespace-no-wrap bg-transparent font-bold text-red-600" do %>
                <i class="fa fa-sign-out mr-3"></i>Déconnexion
              <% end %>
            </div>
          <% else %>
            <button class="text-white font-bold uppercase text-sm px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 bg-orange-800" style="transition:all .15s ease" type="button" onclick="openDropdown(event,'dropdown-id')">
              <%= link_to 'Me connecter', new_user_session_path, class: "text-white font-bold uppercase text-sm px-6 py-3" %>
            </button>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</nav>
<script>
  // in data, I like to store a view object with all
  // the values I need for a component to manage
  // it's 'view' state - ie loading,
  // or in this case, if the user is at the top of the page or not
  data () {
      return {
          view: {
              atTopOfPage: true
          }
      }
  },
  
  // a beforeMount call to add a listener to the window
  beforeMount () {
      window.addEventListener('scroll', this.handleScroll);
  },
  
  methods: {
  	// the function to call when the user scrolls, added as a method
      handleScroll(){
          // when the user scrolls, check the pageYOffset
          if(window.pageYOffset>0){
              // user is scrolled
              if(this.view.atTopOfPage) this.view.atTopOfPage = false
          }else{
              // user is at top of page
              if(!this.view.atTopOfPage) this.view.atTopOfPage = true
          }
      }
  }
</script>
<script>
  function openDropdown(event,dropdownID){
    let element = event.target;
    while(element.nodeName !== "BUTTON"){
      element = element.parentNode;
    }
    var popper = new Popper(element, document.getElementById(dropdownID), {
      placement: 'bottom-start'
    });
    document.getElementById(dropdownID).classList.toggle("hidden");
    document.getElementById(dropdownID).classList.toggle("block");
  }
</script>
