<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Prairies urbaines" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "P Urb" %>">
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= yield :javascript_head %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main">
       <%= render 'layouts/messages' %>
          <div class="section-page-landing section-beige" id="features">
            <div class="inner-section">
              <div class="container">
                <%= yield %>
              </div>
            </div>
          </div>
         <%= render 'layouts/footer' %>
    </main>
  </body>
</html>
