<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Prairies urbaines" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "P Urb" %>">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One|Bevan|Bowlby+One+SC|Bree+Serif|Lora|Muli:300,400,700|Ultra&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= yield :style_head %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= yield :javascript_head %>
    <%= csrf_meta_tags %>
  </head>
  <body id="top" data-spy="scroll" data-target="#navbar" >
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main">
      <%= render 'layouts/messages' %>
      <div class="section-page-landing section-light-grey" id="features">
        <div class="inner-section">
          <div class="container">
            <%= yield %>
          </div>
        </div>
      </div>
      <%= render 'layouts/footer' %>
    </main>
    <%= yield :javascript_body %>
  </body>
</html>
